console {
  org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule sufficient
    org.apache.activemq.jaas.properties.user="artemis-users.properties"
    org.apache.activemq.jaas.properties.role="artemis-roles.properties"
    baseDir="${artemis.instance}/etc"
  ;

  /*
  org.keycloak.adapters.jaas.BearerTokenLoginModule required
    keycloak-config-file="${BEARER_KC_CONFIG}"
    role-principal-class=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal
  ;
  */
};

activemq {
  org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule sufficient
    org.apache.activemq.jaas.properties.user="artemis-users.properties"
    org.apache.activemq.jaas.properties.role="artemis-roles.properties"
    baseDir="${artemis.instance}/etc"
  ;

  org.keycloak.adapters.jaas.DirectAccessGrantsLoginModule required
    keycloak-config-file="${DIRECT_KC_CONFIG}"
    role-principal-class=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal
  ;

  org.apache.activemq.artemis.spi.core.security.jaas.PrincipalConversionLoginModule requisite
    principalClassList=org.keycloak.KeycloakPrincipal
  ;
};
